.btn-outline-success,
.text-success {
	color: #94eea9 !important;
}

.btn-outline-success,
.btn-outline-success:hover {
	border-color: #94eea9 !important;
}

.btn-outline-success:focus,
.btn-outline-success:hover {
	color: black !important;
	background-color: #94eea9 !important;
}
